SECRET_KEY=change-me-in-production
DJANGO_SETTINGS_MODULE=config.settings.development
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=hersa
DB_USER=hersa
DB_PASSWORD=hersa
DB_HOST=db
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:5173
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@hersa.com
FRONTEND_URL=http://localhost:5173
AWS_MEDIA_BUCKET_NAME=hersa-media-prod
AWS_S3_REGION_NAME=us-east-1
DJANGO_SUPERUSER_EMAIL=admin@hersa.com
DJANGO_SUPERUSER_PASSWORD=change-me-in-production
DJANGO_SUPERUSER_USERNAME=admin
