container_commands:
  00_create_db:
    command: "source /var/app/venv/*/bin/activate && python manage.py create_db"
    leader_only: true
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createcachetable:
    command: "source /var/app/venv/*/bin/activate && python manage.py createcachetable"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  04_create_initial_superuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py create_initial_superuser"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings.production
