@use '@/shared/styles/variables' as v;

.root {
  padding: v.sp(3);
  max-width: 560px;
}

.title {
  color: v.$primary-main;
  font-weight: 600;
  margin-bottom: v.sp(3);
}

.form {
  width: 100%;
}

.formError {
  margin-bottom: v.sp(2);
}

.helperHint {
  color: v.$text-secondary;
  font-size: 0.75rem;
}
