@use '@/shared/styles/variables' as v;

.root {
  position: relative;
  background-color: v.$bg-paper;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    background: linear-gradient(to right, transparent, v.$bg-paper);
    pointer-events: none;
  }
}

.tab {
  text-transform: capitalize;
  font-weight: 500;
}
