@use '../../../../../shared/styles/variables' as v;

.successAlert {
  width: 100%;
}

.successStack {
  align-items: flex-start;
}

.requestNewLink {
  cursor: pointer;
  text-decoration: underline;
}

.formActions {
  margin-top: v.sp(3);
}
