@use '../styles/variables' as v;

.appBar {
  background-color: v.$primary-main;
  border-bottom: 1px solid v.$primary-light;

  @media (min-width: v.$breakpoint-md) {
    width: calc(100% - #{v.$drawer-width});
    margin-left: v.$drawer-width;
  }
}

.menuButton {
  margin-right: v.sp(2);

  @media (min-width: v.$breakpoint-md) {
    display: none;
  }
}

.spacer {
  flex-grow: 1;
  padding: 0;
}
