@use '@/shared/styles/variables' as v;

.root {
  padding: v.sp(3);
}

.header {
  margin-bottom: v.sp(2);
}

.title {
  color: v.$primary-main;
  font-weight: 600;
}

.filters {
  margin-bottom: v.sp(2);
}

.search {
  min-width: 260px;
  flex: 1;
  max-width: 400px;
}

.error {
  margin-bottom: v.sp(2);
}

.skeletonHeader {
  margin-bottom: v.sp(2);
  border-radius: 4px;
}

.skeletonTable {
  border-radius: 4px;
}
